<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_questions.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous"/>
</head>
<body>
  <div class="container">
    <h2>Insert Questions</h2>
    <p id="csat-id-display">CSAT ID: {{ csat_id }}</p>
    <p id="customer-id-display">CUSTOMER ID: {{ customer_id }}</p>
    <form class="form-group" id="uploadForm" method="post" enctype="multipart/form-data">
      <input type="file" id="questionFile" name="questionFile" accept=".xlsx">
      <label for="questionFile" class="file-label"><i class="fas fa-upload"></i> Choose File and Upload</label>
      <span class="selected-file-name"></span>
    </form>
    <button id="addMoreQuestionsBtn">Add More Questions</button>
    <div id="questionContainer"></div>
    <button id="submitButton">Submit</button>
  </div>
  <div class="upload-popup">
    <p id="uploadMessage"></p>
    <button class="close-popup-btn">Close</button>
  </div>
  <script src="{{ url_for('static', filename='question.js') }}"></script>
</body>
</html>